<!DOCTYPE html>
<html>
<body>
	{% block menu %}
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul class=flashes>
				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	<ul>
		<li>Renda</li>
		<li>Gasto</li>
		<li>Extrato</li>
		<li>Cadastro
			<ul>
				<li>Banco</li>
				<li>Item</li>
				<li><a href="{{ url_for('person_add') }}">Pessoa</a></li>
			</ul>
		</li>
		<li><a href="{{ url_for('register') }}">Cadastre-se</a></li>
		<li><a href="{{ url_for('login') }}">Login</a></li>
		<li><a href="{{ url_for('logout') }}">Sair</a></li>
	</ul>
	{% endblock menu %}
        {% if current_user.is_authenticated() %}
            <span class="userid">Logado como <strong> {{current_user.id }}</strong></span>
        {% endif %}

	{% block content %}
		Template base
	{% endblock content %}

	<footer>
		<p>Copyright 2015 - Régis da Silva</p>
		<p>Feito com <a href="http://flask.pocoo.org/">Flask</a></p>
	</footer>
</body>
</html>
